:root{
    --primary-color:rgb(229, 9, 20);
    --secoandry-color:#373b69;

    --color-white:#fff;
    --color-dark:#0000;

}

body{
    position: relative;
}
body::after{
    content: "";
    min-height: 100vh;
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url(../image/hero.jpg);

    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(2px);
 
}
.logo {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}
.logo img{
    
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn.nfx-btn
.btn.nfx-btn:active,
.btn.nfx-btn:focus,
.btn.nfx-btn:hover
{
    background-color:var(--primary-color)!important;
    border-color:var(--primary-color)!important;
}
.btn.nfx-btn-dark,
.btn.nfx-btn-dark:active,
.btn.nfx-btn-dark:focus,
.btn.nfx-btn-dark:hover
{
    background-color:var(--primary-color)!important;
    border-color:var(--primary-color)!important;
}
.card.movieCard figure{
    height: 350px;
    transition: all,.4s ease-in-out;
    position: relativ
}
.card.movieCard{
    border: 0px;
}
 .card.movieCard figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card.movieCard:hover figure{
    transform: scale(1.15);
}

figcaption{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 100%) ;
    opacity: 0;
    color: #fff;
    transition: all .4s ease-in-out;

}
.card.movieCard:hover figcaption{
    opacity: 1;
}

.backdrop{
    position:fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}
.movieModel{
    position: fixed;
    background-color: #fff;
    height: 400px;
    width: 60%;
    top: 20%;
    left: 20%;
    display: none;
}
.backdrop.visible{
    display: block;
    animation: fadeIn .4s ease-in-out;
}
.movieModel.visible{
    display: block;
    animation: slideDown .7s ease-in-out ;
}
.movieModel.cord-header.movieClose{
    font-size: 25px;
}
.movieClose{
    cursor: pointer;
}

@keyframes fadeIn{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;

    }
}



@keyframes slideDown {
    from{
        margin-top: -120px;
        opacity: 0;

    }
    to{
        margin-top: 0;
        opacity: 1;

    }
    
}